body {
  margin: 0;
}

.nav-bar {
  background-color: rgb(22, 22, 22);
  min-height: 60px;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0px 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
